/* .ant-menu{
  background: #F5F7F9;
  height: 500px;
  padding-top: 35px;
}
.ant-menu-item, .ant-menu-submenu-title {
  font-family: Rubik;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  overflow: unset;
  white-space: pre-line;
}
.ant-menu-inline .ant-menu-item{
  line-height: 1;
  overflow: unset;
  word-wrap: break-word;
  height: auto;
  padding: 13px;
}
.header{
  border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    height: 65px;
    background: white;
} */




#header {
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  max-width: 100%;
}
#logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
}