.inputSidebar{
    background-color: rgb(243, 243, 247);
    flex: 0 0 auto;
    border-radius: 99px;
    padding: 3px 0px 3px 16px;
    font-size: 16px;
}

.ant-input{
    background: none;
    border: none;
    font-size: 16px;
}
.ant-input:focus{
    border: none;
    box-shadow: none;
}
.ant-menu-inline{
    border: none;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    font-size: 16px;
    font-weight: 500;
}

.ant-menu-inline .ant-menu-submenu-title{
    font-size: 16px;
    font-weight: 500;
}
