
main {
  height: 100%;
}

.reflex-layout.vertical > .reflex-splitter,
.reflex-layout > .reflex-element {
  /*
  Note(Bouncey): removing height: 100% makes the element 100% high ¯\_(ツ)_/¯
  */
  height: auto;
  /*
  Note(renojvarghese): had to put a max-height because max-height was removed from app-wrapper (has background of #333 in night mode)
  */
  max-height: calc(100vh - 36px);
  overflow-y: scroll;
}

.reflex-layout.vertical .reflex-splitter:hover {
  border-left: 2px solid #006400 !important;
  border-right: 2px solid #006400 !important;
  background-color: #006400;
}

.reflex-layout.vertical > .reflex-splitter {
  width: 5px;
}

.app-wrapper {
  margin-top: 36px;
  min-height: calc(100vh - 36px);
}
