.intro-layout {
  margin-top: 1.45rem;
}

.intro-toc .list-group-item {
  margin: 5px auto;
}

.intro-toc .list-group-item:hover {
  background-color: #eee;
}

.intro-toc a:hover {
  text-decoration: none;
  text-decoration-style: none;
  color: #006400;
}
h1{
  color: yellow;
}